body {
    background-image: linear-gradient(to right, #9a5ddc 0%, #7fa4e5 100%);
}

.col-md-3 {
    margin-top: 150px;
    background-image: linear-gradient(to right, #9f58eb 0%, #6797eb 100%);
}

input[type=text] {
    width: 100%;
    text-align: center;
}

h1 {
    font-weight: bolder;
    margin-top: 15px;
}

#but {
    padding: 5px 5px 5px 5px;
    border: 1px solid rgb(171, 234, 132);
    margin: auto;
    border-radius: 4px;
    background-color: rgb(19, 167, 164);
    color: white;
    font-size: 20px;
    cursor: pointer;
}

#print {
    color: white;
    font-size: 20x;
}